https://www.kaggle.com/rudymizrahi/break-into-data-science-01-pandas-tutorial

In [49]:
import pandas as pd
import numpy as np

In [50]:
import os
os.getcwd()

'/home/jovyan/binder'

In [63]:
data = pd.read_csv('/home/jovyan/acs2015_county_data.csv')

In [64]:
data.head(5)

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 37 columns):
CensusId           3220 non-null int64
State              3220 non-null object
County             3220 non-null object
TotalPop           3220 non-null int64
Men                3220 non-null int64
Women              3220 non-null int64
Hispanic           3220 non-null float64
White              3220 non-null float64
Black              3220 non-null float64
Native             3220 non-null float64
Asian              3220 non-null float64
Pacific            3220 non-null float64
Citizen            3220 non-null int64
Income             3219 non-null float64
IncomeErr          3219 non-null float64
IncomePerCap       3220 non-null int64
IncomePerCapErr    3220 non-null int64
Poverty            3220 non-null float64
ChildPoverty       3219 non-null float64
Professional       3220 non-null float64
Service            3220 non-null float64
Office             3220 non-null float64
Construction       3220 non-null float64
Production         3220 non-null float64
Drive              3220 non-null float64
Carpool            3220 non-null float64
Transit            3220 non-null float64
Walk               3220 non-null float64
OtherTransp        3220 non-null float64
WorkAtHome         3220 non-null float64
MeanCommute        3220 non-null float64
Employed           3220 non-null int64
PrivateWork        3220 non-null float64
PublicWork         3220 non-null float64
SelfEmployed       3220 non-null float64
FamilyWork         3220 non-null float64
Unemployment       3220 non-null float64
dtypes: float64(27), int64(8), object(2)
memory usage: 930.9+ KB

In [68]:
data.shape

(3220, 37)

In [70]:
data = data.dropna(axis=0, how='any')
data.shape

(3218, 37)

In [56]:
data['M/W_ratio'] = data['Men']/data['Women']
data.head(5)

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,M/W_ratio
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6,0.939212
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5,0.954983
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6,1.165822
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3,1.146425
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7,0.976505

In [57]:
data = data.drop(['CensusId'], axis=1)
data = data.groupby('State').sum()
data.head(5)

,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,Citizen,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,M/W_ratio
State,,,,,,,,,,,,,,,,,,,,,
Alabama,4830620,2341093,2489527,217.9,4390.7,1907.6,40.0,43.2,1.7,3620994,...,76.0,159.9,1737.3,2022325,5167.0,1126.6,390.3,16.0,757.8,63.681976
Alaska,733375,384160,349215,133.5,1430.9,41.1,891.8,172.6,18.6,523946,...,282.9,184.4,325.6,351108,1729.9,946.4,215.3,8.5,285.8,34.797325
Arizona,6641928,3299088,3342840,456.5,773.2,26.5,197.7,18.7,1.8,4526594,...,36.3,77.6,325.8,2813406,1061.6,343.9,92.1,2.6,179.5,15.263392
Arkansas,2958208,1451913,1506295,370.2,5711.6,1205.2,36.0,51.0,5.1,2164083,...,99.5,241.2,1737.6,1256081,5574.4,1327.9,581.1,16.3,673.7,73.502746
California,38421464,19087135,19334329,1712.1,3222.3,173.3,91.6,400.1,19.9,24280349,...,156.2,373.3,1448.0,17246360,4075.7,1147.1,551.6,27.3,626.4,60.072113

In [58]:
data.memory_usage(deep=True)

Index              3417
TotalPop            416
Men                 416
Women               416
Hispanic            416
White               416
Black               416
Native              416
Asian               416
Pacific             416
Citizen             416
Income              416
IncomeErr           416
IncomePerCap        416
IncomePerCapErr     416
Poverty             416
ChildPoverty        416
Professional        416
Service             416
Office              416
Construction        416
Production          416
Drive               416
Carpool             416
Transit             416
Walk                416
OtherTransp         416
WorkAtHome          416
MeanCommute         416
Employed            416
PrivateWork         416
PublicWork          416
SelfEmployed        416
FamilyWork          416
Unemployment        416
M/W_ratio           416
dtype: int64

In [59]:
data.dtypes

TotalPop             int64
Men                  int64
Women                int64
Hispanic           float64
White              float64
Black              float64
Native             float64
Asian              float64
Pacific            float64
Citizen              int64
Income             float64
IncomeErr          float64
IncomePerCap         int64
IncomePerCapErr      int64
Poverty            float64
ChildPoverty       float64
Professional       float64
Service            float64
Office             float64
Construction       float64
Production         float64
Drive              float64
Carpool            float64
Transit            float64
Walk               float64
OtherTransp        float64
WorkAtHome         float64
MeanCommute        float64
Employed             int64
PrivateWork        float64
PublicWork         float64
SelfEmployed       float64
FamilyWork         float64
Unemployment       float64
M/W_ratio          float64
dtype: object